//SOLARIZED

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3)
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}

@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}

@mixin light() { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
@mixin dark()  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}

html * {
    color-profile: sRGB;
    rendering-intent: auto;
}

//END SOLARIZED

body {
  margin: 0px;
}

@mixin fadeIn($speed) {
  animation:demo $speed;
  -moz-animation:demo $speed; /* Firefox */
  -webkit-animation:demo $speed; /* Safari and Chrome */
  -o-animation:demo $speed; /* Opera */
  animation:demo $speed;
}

@mixin fadeInFast(){
  @include fadeIn(0.5s);
}

$terminal__open: 70%;
$terminal__closed: 35px;
$terminal__padding: 15px;
.terminal {
  @include dark();
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  min-width: 384px;
  height: $terminal__closed;
  width: 100%;
  padding: $terminal__padding;
  padding-bottom: 0px;
  position: fixed;
  overflow-y: scroll;
  z-index: 2;
  opacity: 1;

  & [data-prompt-name="default"] {
    &:before {
      content: '$ ';
    }
  }

  & [data-prompt-name="adventure"] {
    &:before {
      content: '> ';
    }
  }

  &:focus {
    outline: none;
  }

}

.caret {
  background-color: inherit;
  border: 1px solid $base0;
}

body[data-terminal-state="closed"] {

  .terminal {
    animation: minimize 2s;
    -webkit-animation: minimize 2s; /* Safari and Chrome */
    height: $terminal__closed;
    opacity: 1;
  }

  .main-window {
    -webkit-animation: reverse-blur 2s;
  }

}

body[data-terminal-state="open"] {

  .terminal {
    animation: maximize 2s;
    -webkit-animation: maximize 2s; /* Safari and Chrome */
    height: $terminal__open;
    opacity: 0.9;
  }

  .main-window {
    -webkit-filter: blur(5px);
    -webkit-animation: blur 2s;
    opacity: 0.7;
  }

  .caret {
    background-color: $base0;
    color: $base03;
  }
}

@-webkit-keyframes maximize {
  0% {
    height: $terminal__closed;
    opacity: 1;
  }

  100% {
    height: $terminal__open;
    opacity: 0.9
  }
}

@-webkit-keyframes minimize {
  0% {
    height: $terminal__open;
    opacity: 0.9;
  }

  100% {
    height: $terminal__closed;
    opacity: 1;
  }
}

@-webkit-keyframes blur /* Safari and Chrome */
{
  0% {
    -webkit-filter: blur(0px);
    opacity: 1;
  }

  100% {
    -webkit-filter: blur(5px);
    opacity: 0.7;
  }
}

@-webkit-keyframes reverse-blur /* Safari and Chrome */
{
  0% {
    -webkit-filter: blur(5px);
    opacity: 0.7;
  }

  100% {
    -webkit-filter: blur(0px);
    opacity: 1;
  }

}

.terminal-output {
  margin: 0px;
}

.terminal-output--line {
  padding-bottom: $terminal__padding;
}

.terminal-output--input {
  color: $cyan;
  font-weight: 800;
}

.terminal-output--log {
  color: $base0;
  @include fadeInFast()
}

.terminal-output--win {
  color: $green;
  @include fadeInFast()
}

.terminal-output--warn {
  color: $red;
  @include fadeInFast()
}


.terminal-input {
  @include fadeInFast();

  width: 100%;
  min-height: 1em;
  padding-bottom: $terminal__padding;

  &:focus {
    outline: none;
  }

}

.main-window {
  width: 70%;
  padding: 16px;
  padding-top: 100px;
}

.is-hijacking-link .main-window {
  opacity: 0.2;
}

.container {
  width: 80%;
}


@keyframes demo
{
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes demo /* Firefox */
{
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes demo /* Safari and Chrome */
{
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes demo /* Opera */ {
0% {opacity:0;}
100% {opacity:1;}
}
