@import 'base';
@import 'terminal';
@import 'main_screen_turn_on';

.notifications--terminal-enable {
  @include desktop(){
    display: none;
  }
}

.notifications--terminal-disable {
  @include mobile(){
    display: none;
  }
}

.notifications {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $base0;
}

.work-title {
  font-weight: 800;
}
