@import 'base';
@import 'terminal';
@import 'main_screen_turn_on';
@import 'footer';


.notifications {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $base0;
}

.work-title {
  font-weight: 800;
}

