@import 'lib/solarized';

.footer {
  border-top: 1px solid $base02;
  padding: 10px;
  color: #839496;
  background-color: #eee;

  .footer-title {
    margin: 0;
  }

  .terminal-enable {
    @include desktop(){
      display: none;
    }
  }

  .terminal-disable {
    @include mobile(){
      display: none;
    }
  }
}
